# Server Configuration
PORT=5000
NODE_ENV=development

# Cloudinary Credentials (لرفع الصور المعالجة مباشرة للسحاب)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Rate Limiting Settings
RATE_LIMIT_WINDOW_MS=900000 # 15 mins
RATE_LIMIT_MAX=100 # max requests per window per IP
